.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  border-radius: 5px;
  border: 1px solid red;
  padding: 8px;
  background-color: white;
  color: red;
  font-size: 15px;
}
button:hover {
  background-color: red;
  color: white;
}
.new-user {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}